<h1 data-testid="sa__form-title">Please enter your details below</h1>

<form [formGroup]="signUpForm" (ngSubmit)="sendFormData()">
    <div>
        <mat-form-field>
            <mat-label data-testid="sa__first-name-label">Enter your first name</mat-label>
            <input id="firstName" formControlName="firstName" data-testid="sa__first-name-input" matInput required />
        </mat-form-field>

        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="signup-form__error-wrapper">
            <mat-error *ngIf="firstName?.errors?.['required']" data-testid="sa__first-name-error">
                First Name is required
            </mat-error>
        </div>
    </div>
    
    <div>
        <mat-form-field>
            <mat-label data-testid="sa__last-name-label">Enter your last name</mat-label>
            <input id="lastName" formControlName="lastName" data-testid="sa__last-name-input" matInput required />
        </mat-form-field>

        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="signup-form__error-wrapper">
            <mat-error *ngIf="lastName?.errors?.['required']" data-testid="sa__last-name-error">
                Last Name is required
            </mat-error>
        </div>
    </div>

    <div>
        <mat-form-field>
            <mat-label data-testid="sa__email-label">Enter your email</mat-label>
            <input id="email" formControlName="email" data-testid="sa__email-input" matInput required />
        </mat-form-field>

        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="signup-form__error-wrapper">
            <mat-error *ngIf="email?.errors?.['required']" data-testid="sa__email-error">
                Email is required
            </mat-error>

            <mat-error *ngIf="email?.errors?.['pattern']" data-testid="sa__email-pattern-error">
                Please enter a valid email (e.g. test@email.com)
            </mat-error>
        </div>
    </div>

    <div>
        <mat-form-field>
            <mat-label data-testid="sa__password-label">Enter your password</mat-label>
            <input id="password" formControlName="password" type="password" data-testid="sa__password-input" matInput required />
        </mat-form-field>

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="signup-form__error-wrapper" data-testid="password-errors-testid">
            <mat-error *ngIf="password?.errors?.['required']" data-testid="sa__password-required-error">
                Password is required
            </mat-error>

            <mat-error *ngIf="password?.errors?.['minlength']" data-testid="sa__password-length-error">
                Password must be at least 8 characters
            </mat-error>

            <mat-error *ngIf="password?.errors?.['isLowerAndUpperCasePresent']" data-testid="sa__password-case-error">
                Password must contain a mix of upper and lower case characters
            </mat-error>
        </div>

        <div *ngIf="signUpForm.errors?.['nameInPassword']" class="signup-form__error-wrapper">
            <mat-error data-testid="sa__password-name-in-password-error">
                You cannot have your first or last name in your password
            </mat-error>
        </div>
    </div>
    
    <div>
        <app-button class="signup-form__buttons" [isDisabled]="!signUpForm.valid" text="Send" type="submit"></app-button>
        <app-button (onClick)="resetForm()" text="Reset" type="reset"></app-button>
    </div>
</form>
